# Entornos virtuales
venv/
.venv/
env/
.env

# Archivos de la base de datos
config/library.db
*.sqlite3

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema operativo
.DS_Store
._*
.__*

# Archivos de configuración de IDEs
.vscode/
.idea/ 